/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    margin: 0;
    background-color: #f4f4f4;
}
/* Навігаційне меню */
.nav-links {
    list-style: none;
    display: flex;

    margin: 0 auto;
    padding: 0;
    position:absolute;
    top: 75px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 10px 15px;
    
}

.nav-links a:hover {
    color: #ff5733;
}
/* Стилі для кнопок соцмереж */
.social-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
   padding: 10px;
   gap: 10px;
}

.social-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;

}

.social-btn:hover {
    transform: scale(1.05);
}

/* Індивідуальні кольори для соцмереж */
.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #2d4373;
}

.X {
    background-color: black;
}

.X:hover {
    background-color: black;
}

.instagram {
    background-color: #e4405f;
}

.instagram:hover {
    background-color: #d62a50;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin:hover {
    background-color: #005582;
}


/* Шапка */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    display: flex;
    
    height: 130px;
    position: relative;
}



.logo {
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo img {
    width: 190px; /* Розмір логотипу */
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    
}


/* Головний банер */

.hero-section {
    color: ;
    text-align: center;
    padding: 50px 20px;
   background-size: 1330px 500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa7AWTSg-Kx2jEqZk8cL9l40nRgyuVTHMtvQ&s);
}
.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;
    background-color: #ff5733;
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff5733;
}

/* Розділ з продуктами */
.products-section {
    padding: 60px 20px;
    background-image: url(https://videomix.com.ua/uploads/Fones/BD112.jpg);
    text-align: center;
    background-size: 1500px 1000px;
}

.products-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0077cc;
}

.card p {
    font-size: 16px;
    color: #555;
}

/* Футер */
.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.footer p {
    font-size: 14px;
    opacity: 0.8;
}
